body{
    background-color: #F7DBFF;
}

div{
    width: 150px;
    height: 80px;
}

.margin{
    margin: 40px;
    background-color: #C91BFE;
}

.padding{
    margin: 20px; 
    padding: 20px;
    background-color: #8601AF
}

.border{
    margin: 30px; 
    padding: 30px; 
    border: 7px solid #2A0934;
    background-color: #5A0075
}