div{
    width: 25%;
    height: width;
    background-image: linear-gradient(#FFF, #4ec031);
    box-shadow: #000 2px 2px;
}
.arial{
    font-family: Arial, Helvetica, sans-serif;
}
.couriernew{
    font-family:'Courier New', Courier, monospace;
}
.timesnewroman{
    font-family: 'Times New Roman', Times, serif;
}
