body{
    background-color: darkgreen;
}
h1{
    color: red;
}
p{
    text-align: center;
    position: relative;
    top: 20%
}
div{
    color: white;
    width: 5em;
    height: 5em;
    margin: 5%;
    border-style: solid;
    border-color: white;
    border: 10%;
    border-radius: 20px;
}
div:focus{
    background-color: blue;
}
div:hover{
    border: 5%;
    color: aqua;
}

